extends ../top

block content
	nav.navbar(style="padding-top: 10px")
		.navbar-left
			.navbar-item: p.subtitle.is-4(title=edituser.lastIp)= edituser.name + " " + edituser.surname
		.navbar-right
			.navbar-item: a.button.is-danger(href="/user/"+edituser._id+"/delete") Izbriši

	form(action="/user/"+edituser._id method="POST")
		p.control
			label.label(for="name") Ime
			input(type="text" name="name" value=edituser.name).input#name
		p.control
			label.label(for="surname") Priimek
			input(type="text" name="surname" value=edituser.surname).input#surname
		p.control
			label.label(for="class") Razred
			input(type="text" name="class" value=edituser.class).input#class
		p.control
			label.label(for="email") E-mail
			input(type="email" name="email" value=edituser.email).input#email
		p.control
			label.label(for="password") Geslo (le če želite spremeniti)
			input(type="password" name="password").input#password
		p.control
			label.label(for="type") Nivo dostopa
			span.select: select(name="type")#type
				option(value="user" selected=(edituser.type=="user")) Uporabnik
				option(value="mod" selected=(edituser.type=="mod")) Moderator
				option(value="admin" selected=(edituser.type=="admin")) Administrator
		button(type="submit").button.is-success Potrdi